 /* CSS Reset */
    body {
        font-family:'Baloo Bhaina 2', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background-image: url('https://is.gd/WCNHLR');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .left {
        display: inline-block;
        /* border: 2px solid red; */
        position: absolute;
        left: 34px;
        top: 20px;
        /* text-align: center; */
    }

    .left div {
        text-align: center;
    }
    .left div:hover{
        cursor: alias;
        color: rgb(212, 141, 141);
    }

    .left img {
        width: 136px;
        /* filter: invert(50%)-It changes color from black to white and vice versa */
        filter: drop-shadow(8px 8px 10px rgb(88, 233, 209));
    }

    .mid {
        display: block;
        width: 52%;
        margin: 20px auto;
        /* border: 2px solid purple; */
    }

    .right {
        position: absolute;
        right: 34px;
        top: 33px;
        display: inline-block;
        /* border: 2px solid greenyellow; */
    }
    #right-para1{
        /* border: 2px solid yellow; */
        border-radius: 8px;
        /* display:inline-block; */
        position: fixed;
        right: 35px;
        bottom:60px;
    }
    #right-para1:hover{
      color: rgb(99, 197, 236);
      cursor: pointer;
    }
    #right-para2{
        /* border: 2px solid yellow; */
        border-radius: 8px;
        /* display:inline-block; */
        position: fixed;
        right: 34px;
        bottom:21px;
    }
    #right-para2:hover{
        color: rgb(99, 197, 236);
      cursor: pointer;
    }
    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 18px;
    }

    .navbar li a {
        color: whitesmoke;
        text-decoration: none;
        padding: 24px 16px;

    }

    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: rgb(219, 48, 48);

    }

    .btn {
        margin: 0px 10px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
        font-family:'Baloo Bhaina 2', cursive;
    }

    .btn:hover {
        background-color: grey;
    }

    .container {
        border: 2px solid rgb(117, 231, 235);
        margin: 52px 105px;
        padding: 50px 46px;
        width: 36%;
        border-radius: 100px;
    }

    .container h1 {
        text-align: center;
        /* display: inline-block; */
    }

    .container h2 {
        text-align: center;
        line-height: 19px;
    }

    .form-group input {
        font-family:'Baloo Bhaina 2', cursive;
        text-align: center;
        display: block;
        width: 350px;
        padding: 1px;
        margin: 12px auto;
        border: 2px solid black;
        font-size: 12px;
        border-radius: 10px;
    }

    .container button {
        display: block;
        width: 64%;
        margin: 20px auto;
    }
